@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

:root {
    --blue: #133A4D;
    --dark-grey: #2a2a2a;
    --light-grey: #979797;
    --bg-off-white: #eeeeee;
    /* font with fall back font */
    font-family: 'Montserrat', sans-serif;
    background-color: var(--bg-off-white, white);
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body {
    margin: 0;
}

/* Navbar */
/* .navbar {
    overflow: hidden;
}

.navbar-container {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    height: auto;
    background-color: var(--dark-grey, grey);
    width: 100%;
}
  
.navbar-item {
    padding: 14px 16px;
    font-size: 1.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.5s ease;
}

.navbar-item a {
    text-decoration: none;
    color: white;
}

#logo-name {
    margin-left: 5rem;
    float: left;
    font-size: 2rem;
    margin-right: auto;

}
  
.navbar-item:hover {
    background-color: var(--light-grey, grey);
} */

.top-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: var(--dark-grey, grey);
    height: auto;
    padding: 2dvh;
}

.menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: auto;
}



.navbar-logo {
    text-decoration: none;
    color: white;
    font-size: 2rem;
    padding: 10px;
}

.navbar-item {
    margin: 0 1rem;
    padding: 1rem;
    overflow: hidden;
    transition: background-color 0.5s ease;
}

.navbar-logo:hover, .navbar-item:hover {
    background-color: var(--light-grey, grey);
}


.navbar-item a {
    text-decoration: none;
    color: white;
    align-self: center;
}

.menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#menu-toggle {
    display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
    display: block;
    background-color: #fff;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
}

.menu-button::before {
    content: '';
    margin-top: -8px;
}

.menu-button::after {
    content: '';
    margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
}

/* Footer section */
footer {
    height: 12dvh;
    background-color: var(--dark-grey, grey);
    text-align: center;
    color: white;
    margin-top: auto;
}

footer  p {
    font-size: 1rem;
}

.footer-bar {
    overflow: hidden;
    list-style-type: none;
    display: flex;
    justify-content: center;
}

.footer-bar-container {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    height: auto;
    background-color: var(--dark-grey, grey);
    line-height: 1em;
}

.footer-bar-item {
    padding: 14px 16px;
    font-size: 1.25rem;
    display: flex;
}

.footer-bar-item:hover {
    text-decoration: underline;
}

.footer-bar-item a {
    text-decoration: none;
    color: white;
}

/* Intro Section */

#intro {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: 94dvh;
    text-align: center;
    align-items: center;
    justify-items: center;
}
    
#profileImage {
    align-self: center;
    height: 60dvh;
    width: auto;
    margin: 0 0 0 10rem;
    border-radius: 50%;
}

#intro-description {
    margin: 0 10rem 0 0;
    
}

#intro-description > h1 {
    font-size: 300%;
    line-height: 50%;
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#intro-description > p {
    font-size: larger;
}

/* About Me Section */

#about-me {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    justify-content: center;
    text-align: center;
    height: 96dvh;
    margin-bottom: 4dvh;
}

#about-me h2 {
    font-size: 2rem;
}

#about-me-description {
    grid-area: 1 / 1 / 2 / 4;
    margin: 0 10rem;
}
    
#about-me-parts-1 {
    grid-area: 2 / 1 / 3 / 2;
}

#about-me-parts-2 {
    grid-area: 2 / 2 / 3 / 3;
}



#about-me-parts-3 {
    grid-area: 2 / 3 / 3 / 4;
}

.about-me-pic {
    width: 20rem;
    height: 20rem;
    object-fit: cover;
    border-radius: 5%;
}


/* Experience Page */

.section-title {
    text-align: center;
    font-size: 2rem;
}

.social-container {
    list-style: none;
    display: flex;
    justify-content: center;
}

.social-item {
    border: solid grey;
    border-radius: 10%;
    padding: 1rem 1rem;
    margin: 0 1rem;
    transition: background-color 0.5s ease;
}

.social-item:hover {
    border: var(--blue, blue);
    background-color: var(--blue, blue);
}

.social-item a {
    text-decoration: none;
    color: black;
}

.social-item:hover a {
    color: white;
}

.experience-section {
    margin: 0 10rem 1rem;
    padding: 1rem 1rem;
    line-height: 1em;
}

/* Hobby Page */

.page-title {
    text-align: center;
    font-size: 3rem;
    line-height: 0;
}

.hobby-section {
    text-align: center;
}

.hobby-section h3 {
    font-size: 2rem;
}

.hobby-video {
    width: 50dvw;
    height: 50dvh;
}

.hobby-section p {
    margin: 5rem 20rem;
}

/* Contact Me Page */
.email-form-section {
    min-height: 80dvh;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
}

legend {
    font-size: larger;
}

.email-form {
    line-height: 2;
    text-align: center;
    display: flex;
    justify-content: center;
}

.form-field {
    display: flex;
    flex-direction: column;

}

.field-label {
    text-align: left;
}

.message-output {
    display: flex;
    justify-content: center;
    column-gap: 1rem;
}

#name-label:after {
    content: "*";
    color: red;
}

/* Experiment Page */

.experiment-page {
    height: 90dvh;
    margin: 1rem 3rem;
}

#code-upside-down {
    transform: rotate(0.5turn);
    display: block;
}

figcaption {
    /* Color and background-color with fallback */
    color: pink;
    /* gives css validation error due to no full current adopation */
    color: color(display-p3 0 1 30);
    background-color: grey;
    /* gives css validation error due to no full current adopation */
    background-color: color-mix(in srgb, #34c9eb 50%, white);
    display: inline-block;
}

.test-has-selector {
    border: solid black;
    margin-bottom: 1rem;
}

/* gives css validation error due to no full current adopation */
.test-has-selector:has(p) {
    background-color: green;
}


/* Tablet or Restricitive Laptop Settings */
/* Using iPad Air as reference */
@media screen and (max-width: 900px) {
    .menu-button-container {
        display: flex;
    }
    
    .menu {
        position: absolute;
        top: 0;
        margin-top: 50px;
        left: 0;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    #menu-toggle ~ .menu li {
        height: 0;
        margin: 0;
        padding: 0;
        border: 0;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    #menu-toggle:checked ~ .menu li {
        border: 1px solid #333;
        height: 2.5em;
        padding: 0.5em;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    .menu > li {
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0.5em 0;
        width: 100%;
        color: white;
        background-color: #222;
    }

    .menu > li:not(:last-child) {
        border-bottom: 1px solid #444;
    }

    #intro {
        display: block;
        justify-content: center;
        margin: 5rem;
        height: auto;
    }

    #profileImage {
        width: 60dvw;
        height: auto;
        margin: 0;
    }

    #intro-description {
        margin: 0;
    }

    #about-me {
        height: auto;
        display: block;
        padding: 0;
    }

    .about-me-item {
        margin-bottom: 1rem;
    }
    .about-me-pic {
        width: 50dvw;
        height: auto;   
    }

    .about-me-item details {
        margin: 0 5rem;
    }

    .experience-section {
        margin: 2rem;
    }

    .hobby-section {
        height: 75dvh;
    }

    .hobby-section iframe {
        width: 80dvw;
        height: 40dvh;
    }

    .hobby-section p {
        margin: 3rem;
    }



    .email-form textarea {
        width: 100%;
    }

    .experiment-page h2 {
        font-size: 2rem;
        line-height: 1rem;
    }

}

/* Very Small Screen or Phone Settings */
@media screen and (max-width: 500px) {
    footer p {
        font-size: 0.75rem;
    }
    #intro {
        margin: 2rem;
    }

    #profileImage {
        width: 75dvw;
        height: auto;
        margin: 1rem;
    }

    
    #intro-description {
        font-size: smaller;
    }

    #intro-description h1 {
        font-size: 2rem;
    }

    #about-me {
        margin: 0;
    }

    #about-me h2{
        font-size: 1.5rem;
    }

    #about-me-description {
        margin: 2rem;
    }

    .about-me-pic {
        width: 70dvw;
        height: auto;   
    }

    .social-container {
        padding: 0;
    }

    .experience-section {
        margin: 1rem;
        
    }

    .hobby-section {
        height: 100%;
    }

    .hobby-section iframe {
        width: 90dvw;
        height: 40dvh;
    }



    .email-form-section {
        height: 100%;
    }

    .email-form {
        display: flex;
        line-height: 2rem;
        font-size: smaller;
    }

    fieldset {
        border: none;
    }

    .email-form label {
        display: block;
    }

    .email-form textarea {
        width: 100%;
    }

    .experiment-page h2 {
        font-size: 1.5rem;
    }
    .experiment-page {
        height: 100%;
    }



}
