@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

:root {
    --blue: #133A4D;
    --dark-grey: #2a2a2a;
    --light-grey: #979797;
    --bg-off-white: #eeeeee;
    /* font with fall back font */
    font-family: 'Montserrat', sans-serif;
    background-color: var(--bg-off-white, white);
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

/* Navbar */
.navbar {
    overflow: hidden;
}

.navbar-container {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    height: auto;
    background-color: var(--dark-grey, grey);
}
  
.navbar-item {
    padding: 14px 16px;
    font-size: 1.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.5s ease;
}

.navbar-item a {
    text-decoration: none;
    color: white;
}

#logo-name {
    margin-left: 5rem;
    float: left;
    font-size: 2rem;
    margin-right: auto;

}
  
.navbar-item:hover {
    background-color: var(--light-grey, grey);
}

/* Footer section */
footer {
    height: 12dvh;
    background-color: var(--dark-grey, grey);
    text-align: center;
    color: white;
    margin-top: auto;
}

footer  p {
    font-size: 1rem;
}

.footer-bar {
    overflow: hidden;
    list-style-type: none;
    display: flex;
    justify-content: center;
}

.footer-bar-container {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    height: auto;
    background-color: var(--dark-grey, grey);
    line-height: 1em;
}

.footer-bar-item {
    padding: 14px 16px;
    font-size: 1.25rem;
    display: flex;
}

.footer-bar-item:hover {
    text-decoration: underline;
}

.footer-bar-item a {
    text-decoration: none;
    color: white;
}

/* Intro Section */

#intro {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: 94dvh;
    text-align: center;
    align-items: center;
    justify-items: center;
}
    
#profileImage {
    align-self: center;
    height: 60vh;
    width: auto;
    margin: 0 0 0 10rem;
    
}

#intro-description {
    margin: 0 10rem 0 0;
    
}

#intro-description > h1 {
    font-size: 300%;
    line-height: 50%;
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#intro-description > p {
    font-size: larger;
}

/* About Me Section */

#about-me {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    justify-content: center;
    text-align: center;
    height: 96dvh;
    margin-bottom: 4dvh;
}

#about-me-description {
    grid-area: 1 / 1 / 2 / 4;
    margin: 0 10rem;
}
    
#about-me-parts-1 {
    grid-area: 2 / 1 / 3 / 2;
}

#about-me-parts-2 {
    grid-area: 2 / 2 / 3 / 3;
}

#about-me-parts-3 {
    grid-area: 2 / 3 / 3 / 4;
}

.about-me-pic {
    width: 20rem;
    height: 20rem;
    object-fit: cover;
    border-radius: 5%;
}


/* Experience Page */

.section-title {
    text-align: center;
    font-size: 2rem;
}

.social-container {
    list-style: none;
    display: flex;
    justify-content: center;
}

.social-item {
    border: solid grey;
    border-radius: 10%;
    padding: 1rem 1rem;
    margin: 0 1rem;
    transition: background-color 0.5s ease;
}

.social-item:hover {
    border: var(--blue, blue);
    background-color: var(--blue, blue);
}

.social-item a {
    text-decoration: none;
    color: black;
}

.social-item:hover a {
    color: white;
}

.experience-section {
    margin: 0 10rem 1rem;
    padding: 1rem 1rem;
    line-height: 1em;
}

/* Hobby Page */

.page-title {
    text-align: center;
    font-size: 3rem;
    line-height: 0;
    
}

.hobby-section {
    text-align: center;
}

.hobby-section h3 {
    font-size: 2rem;
}

.hobby-video {
    width: 50dvw;
    height: 50dvh;
}

.hobby-section p {
    margin: 5rem 20rem;
}

/* Contact Me Page */
.email-form-section {
    text-align: center;
    height: 90dvh;
}
.email-form {
    display: inline-block;
    margin: 2rem;
    line-height: 2;
}

legend {
    font-size: larger;
}

/* Experiment Page */
#code-upside-down {
    transform: rotate(0.5turn);
    display: block;
}

figcaption {
    color: pink;
    color: salmon;
    background-color: grey;
    background-color: color-mix(in srgb, #34c9eb 50%, white);
    display: inline-block;
}